@charset "UTF-8";

/* Typical Device Breakpoints 

Peqeunas telas: 600px
Celular: de 600px ate 768px
Tablet: 768px ate 992px
Desktop: acima de 992px ate 1200px
Grande Desktop: acima de 1200px 

*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background: linear-gradient(
            45deg,
            #73daec,
            #73abec,
            #6b38f8,
            #a64af1,
            rgb(203, 77, 228)
        );
    }

    section#login {
        width: 80vw;
        height: 300px;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background: linear-gradient(
            45deg,
            #73daec,
            #73abec,
            #6b38f8,
            #a64af1,
            rgb(203, 77, 228)
        );
    }

    section#login {
        width: 900px;
        height: 450px;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 1200px) {
    body {
        background: linear-gradient(
            45deg,
            #73daec,
            #73abec,
            #6b38f8,
            #a64af1,
            rgb(203, 77, 228)
        );
    }

    section#login {
        width: 1150px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.2em;
        margin: 20px 0px;
    }
}
