@charset "UTF-8";

/* 
Paleta de cores:
background: #4C5AC8 #559CFA #7755FA #AD55FA #E355FA

backgroudlogin: #ffffff
backgrounddados:#E6E6E6
loginbottom: #6FB555

textcolor: #000000
*/

:root {
    --cordefundo: #4c5ac8 #559cfa #7755fa #ad55fa #e355fa;
    --corfundologin: #ffffff;
    --corfundodados: #e6e6e6;
    --corbotaologin: #6fb555;
    --cordetexto: #000000;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body,
html {
    background-color: #8155fa;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;

    overflow: hidden;

    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.164);

    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    background: url(../images/imglogin1.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 250px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    text-align: center;
    font-size: 0.9em;
    font-weight: 500;
    margin-bottom: 10px;
}

form > div.campo {
    background-color: #9455fa;
    border: 2px solid #9455fa;
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > i {
    color: #ffffff;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #eaf1f7;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;

    border: none;
    border-radius: 8px;
    padding: 4px;

    transform: translateY(-3px);
}

div.campo > input:focus {
    outline: none;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
    transition-timing-function: ease;
}

form > input[type="submit"] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 7px;
    background-color: #4fe488;
    cursor: pointer;
}

form > input[type="submit"]:hover {
    background-color: #57ff97;
    transition: 0.5s;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: ;
    border: 1px solid #4ee086;
    color: rgb(79, 29, 100);
    border-radius: 7px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #e6ffec;
    transition: 0.3s;
}
